


table {
    margin:1em auto;
    margin-top: 2em;
  }
  td {
    height:30px;
    width:30px;
    border:1px solid;
    text-align:center;
  }
  td:first-child {
    border-left:solid;
  }
  td:nth-child(3n) {
    border-right:solid ;
  }
  tr:first-child {
    border-top:solid;
  }
  tr:nth-child(3n) td {
    border-bottom:solid ;
  }

  
.column1 {
  float: left;
  width: 37%;
  padding: 5px;
  margin-left: 150px;

}
.column2 {
    float: left;
    text-align: center;
    width: 15%;
    padding: 5px;
    margin-top: 10em;
    margin-left: -300px;
}

/* Clear floats after image containers */
.row::after {
  content: " ";
  clear: both;
  display: table;
}



  
.btn--outline{
  border: 3px solid rgb(7, 102, 245);
  color: rgb(7, 102, 245);
}

.btn--outline:hover{
  background: rgb(7, 102, 245);
  color: white;
}
