@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #4681DA;

body{
    margin:0;
    font-family: 'Nunito','sans-serif';
    font-size: 19px;
}

header {
    background: $primary;
    padding: 1em 0;

    a{
        color: white;
        text-decoration: none;
    }

    a.sudoku{
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary,10%);
                }
            }
        }
    }
}

h1{

    margin-top:2em;
}

.column1 {
    float: left;
    width: 37%;
    padding: 5px;
    margin-left: -60px;
  }
  .column2 {
      float: left;
      text-align: center;
      width: 10%;
      padding: 5px;
      margin-top: 12em;
      margin-left: -20px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: " ";
    clear: both;
    display: table;
  }


.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: .5em 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: .75em;
    margin-left: 34.2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    border-radius: 8px;
}

.btn--primary {
    background-color: rgb(7, 102, 245);
    color: rgb(250, 251, 252);
    border-radius: 8px;
}

.btn--primary:hover {
    background-color: darkblue;
}

.loader {
    background-image:url(assets/images/solution.gif) ;
    width: 500px;
    height: 500px;
    animation: normal;
    margin-left: 21em;
    margin-top: 1em;
  }




