  <form formGroup="sdkForm">

    <table>
           <tr *ngFor="let row of [0,1,2,3,4,5,6,7,8]">{{row}}
            <td  formArrayName="sudoku" *ngFor="let sdk of sdkForm.get('sudoku').controls | slice:(row*9):(row+1)*9; index as i" class= "cell" >
              <input id="{{i+(row*9)}}"  formControlName="r" type="number" min="1" max="9" /></td>
           </tr>
        </table>
</form>

    <!-- <table>
        <tr>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
          <td class= "cell" ><input type="number" min="1" max="9" /></td>
        </tr>
        <tr>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
          <td class= "cell"><input type="number" min="1" max="9" />  </td>
        </tr>  
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
        <tr>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
          <td class="cell"><input type="number" min="1" max="9" />  </td>
        </tr>
    </table> -->
  

  <a routerLink = "/cleargrid" class="btn btn--outline">Clear Grid</a>
  <a (click)="getSolution()" class="btn btn--outline">Solve Grid</a>
  <a  routerLink = "/reloadsample" class="btn btn--outline">Reload Sample</a>
  
